<% documents = vlab_package.documents.all %>  
<% depends_on = vlab_package.depends_on %>  

<div class="dm-card mb-3" id="<%= vlab_package.webid %>">
  <div class="dm-card-title">
    <%= t(:package).capitalize %>: <%= vlab_package %>
    <%= render partial: 'actions', locals: { vlab_package: vlab_package } %>  
  </div>

  <div class="dm-card-body">
    <p class="alert alert-info"><%= vlab_package.get_description %></p>

    <h2 class="mt-3"><%= t(:sw_included_into_deb) %></h2>
    <% if depends_on.empty? %> 
      <p><%= t(:package_without_dependecies) %></p>
    <% else %>
      <div class="list-group">
        <% depends_on.each do |p| %>
          <div class="list-group-item">
            <span class="font-weight-bold"><%= p.name %></span><br/>
            <span class="ml-2 font-italic"><%= p.get_description %></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <h2 class="mt-3"><%= t(:materials_included_into_deb) %></h2>
    <% if documents.empty? %>
      <p><%= t(:package_without_materials) %></p>
    <% else %>
      <%= render partial: 'documents/card_columns_list', locals: { documents: documents } %>
    <% end %>

    <% if defined?(other_packages) and other_packages.any? %>
      <h2><%= t(:other_package_list) %></h2>
      <ul>
      <% @other_packages.each do |p| %>  
        <li><%= link_to p, vlab_package_path(p) %></li>
      <% end %>
    <% end %>
    </ul>
    <p class="mb-0" style="text-align: right"><%= t(:course_name) %> <%= link_to vlab_package.course, course_path(vlab_package.course) %></p>
  </div>
</div>

