<h1><%= t(:users_admin) %></h1>

<ul class="list-group">
  <% @users.each do |user| %>  
    <li class="list-group-item">
      <%= link_to user, user_path(user) %> (<%= user.email %>)<br/>
      <% user.courses.each do |c| %>
        <span class="mx-2"><%= link_to c, c %></span>
      <% end %>
      <span class="float-right">
        <%= user.admin ? icon('asterisk') : '' %>
        <%= link_to_delete(user_path(user)) %>
      </span>
    </li>
  <% end %>
</ul>

<p>
<%= link_to t(:new_user), new_admin_invitation_path, class: :button %> -
<%= link_to t(:invitation_list), admin_invitations_path %>
</p>
