<h1><%= @degree %></h1>

<% if @courses.any? %>  
  <% @courses.each do |course| %>  
    <%= render course %>
  <% end %>
<% else %>
  <p class="alert alert-warning"><%= t :no_courses %></p>
<% end %>

<p>
<% if user_admin? %>  
  <%= link_to_edit t(:edit_degree), edit_degree_path(@degree), button: true %> -
  <%= link_to_new t(:new_course), new_degree_course_path(@degree), button: true %> -
<% end %>
<%= link_to_back root_path %>
</p>
