<h1><small><%= t :degree %>:</small> <%= @degree %></h1>

<h2><%= t :list_of_courses %>:</h2>

<% if @courses.any? %>  
  <%= render @courses, with_packages: true %>
<% else %>
  <p class="alert alert-warning"><%= t :no_courses %></p>
<% end %>

<p class="mt-2 text-center">
<% if user_admin? %>  
  <%= link_to_edit t(:edit_degree), edit_degree_path(@degree), button: true %> -
  <%= link_to_new t(:new_course), new_degree_course_path(@degree), button: true %> -
<% end %>
<%= link_to_back root_path %>
</p>

<%= javascript_tag do %>
  $(document).ready(function(){
    $(".dm-card-header").css('cursor', 'pointer');
    $(".dm-card-body").toggle();
    $(".dm-card-footer").toggle();
    $(".dm-card-header").click(function() {
      $(this).css('font-weight', 'bold');
      //$(this).next(".dm-card-body").slideToggle();
      $(this).next(".dm-card-body").slideToggle().next(".dm-card-footer").slideToggle();
    });
  });
<% end %>

