<h1><%= @degree %></h1>

<% if @courses.any? %>  
  <ul class="all_clickable mb-3 mt-3">
    <% @courses.each do |course| %>  
      <% packages_num = course.packages.count %>  
      <li>
        <%= link_to course, class: packages_num == 0 ? "disabled" : '' do %>
          <%= course %>  
          <%= content_tag :span, packages_num, class: "badge badge-info pull-right" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="alert alert-warning"><%= t :no_packages %></p>
<% end %>

<p>
<%= link_to_edit('Edit', edit_degree_path(@degree), button: true) if user_admin? %>
<%= link_to_back root_path %>
</p>
