<h1><%= t(:modify) %> "<%= @corepackage %>"</h1>

<div class="tabbable tabs-up">
  <ul class="nav nav-tabs">
    <li><a href="#general" data-toggle="tab"><%= t(:general) %></a></li>
    <li><a href="#materiale" data-toggle="tab"><%= t(:material) %></a></li>
    <li><a href="#software" data-toggle="tab"><%= t(:software) %></a></li>
    <li><a href="#script" data-toggle="tab"><%= t(:script) %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="general">
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="materiale">
      <!--%= render 'documents' %-->
    </div>
    <div class="tab-pane" id="software">
      <%= render 'dependencies' %>
    </div>
    <div class="tab-pane" id="script">
      <%= render 'script' %>
    </div>
  </div>
</div>

<script>  
  if (window.location.hash == "#software") {
    $('#software').tab('show');
    $('#software').addClass('active');
    $('a[href="#software"]').parent().addClass('active');
  } else if (window.location.hash == "#materiale") {
    $('#materiale').tab('show');
    $('#materiale').addClass('active');
    $('a[href="#materiale"]').parent().addClass('active');
  } else if (window.location.hash == "#script") {
    $('#script').tab('show');
    $('#script').addClass('active');
    $('a[href="#script"]').parent().addClass('active');
  } else {
    $("#general").tab('show');
    $('#general').addClass('active');
    $('a[href="#general"]').parent().addClass('active');

  };
</script>
