<h1><%= t(:repo_mng) %></h1>

<p><%= t(:repo_mng_desc_html) %></p>

<p><strong><%= t(:repo_mng_warning_html) %></strong></p>

<h2><%= t(:list_of_repo_incpkg) %></h2>

<table class="table table-striped table-condensed">
  <tr>
    <th>Repository</th>
    <th><%= t(:actual_number) %></th>
    <th><%= t(:update) %></th>
    <th><%= t(:delete) %></th>
  </tr>
  <% @archives.each do |archive| %>  
    <tr>
      <td>
        <%= archive %>
      </td>
      <td>
        <%= archive.packages.count %>
      </td>
      <td> 
        <%= link_to icon('refresh'), sync_admin_archive_path(archive), data: { confirm: t(:update_repo_wrng) }, title: t(:sync) %>
      </td>
      <td>
        <%= link_to icon('trash'), admin_archive_path(archive), data: { confirm: t(:delete_repo_wrng) }, title: t(:del_repo), method: :delete %>
      </td>
    </tr>  
  <% end %>
</table>

<%= link_to t(:add_repo), new_admin_archive_path, class: :button %>  - <%= link_to_back admin_root_path %>
