<% packages = course.packages%>  

<div class="dm-card">
  <div class="dm-card-header">
    <%= course %> 
    <% if policy(:course).edit? %>  
      <span class="float-right">
        <%= link_to_edit edit_course_path(course) %>
      </span>
    <% end %>
  </div>
  <div class="dm-card-body">
    <p style="border-left: 2px solid; padding-left:10px;">
      <%= course.description_to_s %>  
    </p>
    <% if defined?(with_packages) %>  
    <h4><%= t :packages %></h4>
    <%= t(:to_the_course) %> <%= packages.empty? ? t(:no_deb_in_course) : t(:deb_in_course) %>
    <dl class="ml-3"> 
      <% packages.each do |package| %>
        <dt>
        <%= package %> 
        <% if policy(:course).edit? %>  
          <%= link_to icon('edit') + ' edit', edit_package_path(package), title: t(:mod_package) %> 
          <%= link_to icon('upload') + ' upload', new_package_changelog_path(package), data: { confirm: t(:upload_package_warning)}, title: t(:upload_deb) %>  
        <% end %>
        <%= link_to icon('download') + ' download', packages_download_path(package), title: t(:download_deb) %> 
        </dt>
        <dd>
        <%= package.get_description %>
        </dd>
      <% end %>
    </dl>
    <% if policy(:package).new? %>  
      <%= link_to icon('plus') + t(:new_package), new_course_package_path(course), class: 'btn btn-primary btn-sm' %>
    <% end %>
  <% end %>
  </div>
  <div class="dm-card-footer">
    <small><%= course.year %> abbr: <%= course.abbr %></small>
  </div>
</div>

