<% packages = course.vlab_packages%>  

<div class="dm-card">
  <div class="dm-card-header">
    <%= course %> 
    <span class="float-right"><small><%= course.year %></small></span>  
  </div>
  <div class="dm-card-body">
    <p class="alert alert-info"><%= course.description_to_s %></p>

    <% if defined?(with_packages) %>  
      <%= t(:to_the_course) %> <%= packages.empty? ? t(:no_deb_in_course) : t(:deb_in_course) %>
      <div class="list-group my-3"> 
        <% packages.each do |package| %>
          <%= link_to vlab_package_path(package), class: 'modal-link list-group-item list-group-item-action py-2', modal: true do %>  
            <strong><%= package %></strong><br/>
            <span class="ml-2 font-italic"><%= package.get_description %></span>
          <% end %>
        <% end %>
      </div>
      <% if policy(course).edit? %>  
        <p><%= link_to icon('plus') + t(:new_package), new_course_vlab_package_path(course), class: 'btn btn-primary btn-sm' %></p>
      <% end %>
    <% end %>

  </div>
  <div class="dm-card-footer">
    <% if policy(course).edit? %>  
      <span class="float-right">
        <%= link_to_edit edit_course_path(course) %>
        <%= link_to_delete course %>
      </span>
    <% end %>
    <span><small>abbr: <%= course.abbr %></small></span>
  </div>
</div>

