<% packages = course.vlab_packages%>  

<div class="dm-card">
  <div class="dm-card-header">
    <%= course %> 
    <span class="float-right"><small><%= course.year %></small></span>  
  </div>
  <div class="dm-card-body">
    <p class="alert alert-info"><%= course.description_to_s %></p>

    <% if defined?(with_packages) %>  
      <%= t(:to_the_course) %> <%= packages.empty? ? t(:no_deb_in_course) : t(:deb_in_course) %>
      <ul class=""> 
        <% packages.each do |package| %>
          <li style="list-style-type: square">
            <strong><%= package %> </strong>
            <span class="float-right">
              <% if policy(:course).edit? %>  
                <%= link_to icon('eye')    + ' show', vlab_package_path(package), title: t(:mod_package) %> 
                <%= link_to icon('upload') + ' upload', new_vlab_package_changelog_path(package), data: { confirm: t(:upload_package_warning)}, title: t(:upload_deb) %>  
                <%= link_to icon('trash')  + ' trash', vlab_package_path(package), method: :delete, data: { confirm: t(:delete_package_warning)}, title: t(:delete_deb) %>  
                <%= link_to icon('edit')   + ' edit', edit_vlab_package_path(package), title: t(:mod_package) %> 
              <% end %>
              <%= link_to icon('download') + ' download', vlab_package_download_path(package), title: t(:download_deb) %> 
            </span><br/>
            <%= package.get_description %>
          </li>
        <% end %>
      </ul>
      <% if policy(:vlab_package).new? %>  
        <%= link_to icon('plus') + t(:new_package), new_course_vlab_package_path(course), class: 'btn btn-primary btn-sm' %>
      <% end %>
    <% end %>

  </div>
  <div class="dm-card-footer">
    <% if policy(:course).edit? %>  
      <span class="float-right">
        <%= link_to_edit edit_course_path(course) %>
        <%= link_to_delete course %>
      </span>
    <% end %>
    <span><small>abbr: <%= course.abbr %></small></span>
  </div>
</div>

