<h1>
<%= @course %> <br/>
<small><%= @course.description %></small>
</h1>

<div class="row">
  <div class="col-md-6">
    <% if @course.packages.size > 1 %>  
    <select id="pkg_select" onchange="go_package(this.value);">
      <% @course.packages.each do |package|  %>  
        <option value="#<%= package.webid %>"> <%= package.name %></option>
      <% end %>
    </select>
  <% end %>
  </div>
  <div class="col-md-6">
    <p class="degree-badge">
    <%= link_to @course.degree, @course.degree, class: :badge %>  
    </p>
  </div>
</div>

<%= javascript_tag do %>  
  function go_package(val) {
    window.location=val;
  }
<% end %>

<% if @packages.empty? %>  
  <div class="alert alert-warning">
    <%= t(:no_packages) %>  
  </div>
<% else %>
  <% @course.packages.each do |package| %>
    <%= render package %>  
  <% end %>
<% end %>

