<h1><%= t(:repo_mng) %></h1>

<p><%= t(:repo_mng_desc_html) %></p>

<p class="alert alert-warning"><%= t(:repo_mng_warning_html) %></p>


<%= dm_card title: t(:list_of_repo_incpkg) do %>  
<ul class="list-group list-group-flush">
  <% @archives.each do |archive| %>  
    <li class="list-group-item">
      <samp><%= archive %></samp>
      <span class="float-right">
        <span class="badge badge-pill badge-info mr-3"><%= archive.packages.count %></span>
        <%= link_to icon('sync'), sync_archive_path(archive), data: { confirm: t(:update_repo_wrng) }, title: t(:sync) %> 
        <%= link_to icon('trash'), archive_path(archive), data: { confirm: t(:delete_repo_wrng) }, title: t(:del_repo), method: :delete %> 
      </span>
    </li>
  <% end %>
</ul>
<% end %>

<%= link_to t(:add_repo), new_archive_path, class: :button %>  - <%= link_to_back root_path %>
