<h1><%= t(:repo_mng) %></h1>

<p><%= t(:repo_mng_desc_html) %></p>

<p class="alert alert-warning"><%= t(:repo_mng_warning_html) %></p>


<%= dm_card title: t(:list_of_repo_incpkg) do %>  
<table class="table table-sm">
  <tr>
    <th>Repository</th>
    <th><%= t(:actual_number) %></th>
    <th><%= t(:update) %></th>
    <th><%= t(:delete) %></th>
  </tr>
  <% @archives.each do |archive| %>  
    <tr>
      <td> <%= archive %> </td>
      <td> <%= archive.packages.count %> </td>
      <td> <%= link_to icon('sync'), sync_archive_path(archive), data: { confirm: t(:update_repo_wrng) }, title: t(:sync) %> </td>
      <td> <%= link_to icon('trash'), archive_path(archive), data: { confirm: t(:delete_repo_wrng) }, title: t(:del_repo), method: :delete %> </td>
    </tr>  
  <% end %>
</table>
<% end %>

<%= link_to t(:add_repo), new_archive_path, class: :button %>  - <%= link_to_back root_path %>
