
<div class="row">
  <div class="col-md-4 guide">
    <%= render 'helps/student_guide' %>
  </div>
  <div class="col-md-8">
    <h1><%= t(:courses) %></h1>
    <ul>
      <% @courses.each do |course| %>    
        <li><%= link_to course, guest_course_packages_path(course) %> </li>
      <% end %>
    </ul>

    <div class="panel-group" id="courses_list" role="tablist">
      <% degree = nil %>
      <% @courses.each do |course| %>  
        <% packages = course.packages.to_a %>  
        <% if degree != course.degree %>  
          <h3><%= course.degree.code %> - <%= course.degree %></h3>
        <% end %>
        <% degree = course.degree %>
        <div class="panel panel-default">

          <div class="panel-heading" role="tab" id="headingcrs<%= course.id %>">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#courses_list" href="#crs<%= course.id %>" aria-expanded="true" aria-controls="crs<%= course.id %>">
                <%= course %> - <%= course.year %>  
              </a>
            </div><!-- panel-title -->
          </div><!-- panel-heading -->

          <div id="crs<%= course.id %>" class="panel-collapse collapse <%= "in" if @course and (@course.id == course.id) %>" role="tabpanel" aria-labelledby="headingcrs<%= course.id %>">
            <div class="panel-body">
              <p>
              <%= packages.empty? ? t(:course_wo_debs) : t(:course_w_debs) %>
              <!--              <p>Al corso <%= course %> (<%= course.degree.code %>)
              <%= packages.empty? ? "non sono ancora stati associati pacchetti:" : "sono associati i seguenti pacchetti:" %> -->
              </p>
              <dl>
                <% packages.each do |package| %>
                  <dd><%= link_to package.name, package_path(package) %> - <%= package.get_description %>  </dd>
                <% end %>
              </dl>
            </div><!-- panel-body -->
          </div><!-- panel-collapse -->
        </div><!-- panel -->
      <% end %>
    </div><!-- panel-group -->
  </div><!-- col-md-8 -->
</div><!-- row -->

