<div class="row">
  <h1><%= t(:cpkg_admin) %></h1>

  <br>
  <ul>
    <li><%= link_to t(:degree_admin), admin_degrees_path %></li>
    <li><%= link_to t(:course_admin), admin_courses_path %></li>
    <li><%= link_to t(:repo_admin), admin_archives_path %></li>
    <li><%= link_to t(:users_admin), admin_users_path %></li>
    <li><%= link_to "TRADUCIMI corepackages TRADUCIMI", admin_corepackages_path %></li>
  </ul>
</div>
