<h1><%= t(:cpkg_admin) %></h1>

<ul>
  <li><%= link_to t(:degree_admin), degrees_path %></li>
  <li><%= link_to t(:course_admin), admin_courses_path %></li>
  <li><%= link_to t(:repo_admin),   archives_path %></li>
  <li><%= link_to t(:users_admin),  users_path %></li>
</ul>
