<h1><%= t(:course_admin) %></h1>

<ul class="list-group mb-3 mt-3">
  <% @courses.each do |course| %>  
    <li class="list-group-item"> 
      <strong><%= link_to course, edit_admin_course_path(course) %></strong> -
      <em><%= course.degree %></em>
      <span class="pull-right">
        <em><%= course.users.join(', ') %></em> 
        (<%= count =  course.packages.count %>)
        <%= link_to_delete admin_course_path(course) if count == 0 %>  
      </span>
    </li>
  <% end %>
</ul>

<p><%= link_to t(:new_course), new_admin_course_path, class: :button %> - <%= link_to_back admin_root_path %></p>

