<h1><%= t(:course_admin) %></h1>

<ul class="courses">
  <% @courses.each do |course| %>  
    <li> 
    <%= link_to course, edit_admin_course_path(course) %> - <%= course.degree %> (<%= course.users.join(', ') %>)
    </li>
  <% end %>
</ul>

<%= link_to t(:new_course), new_admin_course_path, :class => 'btn btn-primary' %>  
- <%= link_to t(:back), admin_root_path %>

