<%= dm_menu do %>  
  <%= dm_header %>
  <%= dm_nav do  %>  
    <li><%= link_to big_icon('home') + ' Home', root_path %></li>

    <% if user_signed_in? %>
      <li><%= link_to big_icon('list') + " " + t(:my_courses), courses_path %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to big_icon('link') + " " + t(:repos), archives_path %></li>
        <li><%= link_to big_icon('users') + " " + t(:users),  users_path %></li>
      <% end %>
    <% end %>

    <li class="ml-3"><%= link_to image_tag("#{t(:other_language_prefix)}.png", style: 'vertical-align: bottom') + ' ' + t(:other_language), url_for(locale: t(:other_language_prefix)) %></li>

    <% unless user_signed_in? %>  
      <li><%= link_to 'enter', send('auth_' + Rails.configuration.dm_unibo_common[:omniauth_provider].to_s + '_callback_path')%>  </li>
    <% end %>
  <% end %>
<% end %>


