<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'CpkgOnRails', root_path, :class => "brand" %>

      <ul class="nav pull-left">
        <li><%= link_to Rails.configuration.project_link[:name], Rails.configuration.project_link[:url] %></li>
        <li><%= link_to image_tag("#{t(:other_language_prefix)}.png") + ' ' + t(:other_language), url_for( :locale => t(:other_language_prefix) ) %></li>
      </ul>

      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to t(:my_courses), root_path %></li>
          <li><%= link_to t(:other_courses), guest_courses_path %></li>
          <% if current_user.is_admin? %>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">admin</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to t(:degree_admin), admin_degrees_path %></li>
              <li><%= link_to t(:course_admin), admin_courses_path %></li>
              <li><%= link_to t(:repo_admin), admin_archives_path %></li>
              <li><%= link_to t(:users_admin), admin_users_path %></li>
            </ul>
            </li>
          <% end %>
          <li class="disabled"><a><%= current_user %></a></li>
          <% if current_user != true_user %>
            <li class="disabled"><a><strike><%= true_user %></strike></a></li>
          <% end %>
          <li><%= link_to(image_tag(Rails.configuration.login_icon).html_safe + ' Logout', logout_path) %></li>
          <% if true_user.admin? %>
            <% if current_user != true_user %>
              <li><%= link_to 'back to you', stop_impersonating_path %></li>
            <% end %>
          <% end %>
        <% else %>
          <li><%= link_to "Sign in", user_omniauth_authorize_path(Rails.configuration.omniauth_default) %></li>
        <% end %>
      </ul>
    </div><!-- container -->
  </div><!-- navbar-inner -->
</div><!-- navbar -->

