<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cpkg on Rails. Università di Bologna.">
    <meta name="author" content="Unibo">
    <title>CpkgOnRails</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/menu' %>

    <main role="main" class="container">
      <%= privacy_alert %>  
      <%= bootstrap_modal_div %>
      <%= bootstrap_flash %>
      <%= breadcrumbs %>
      <%= yield %>
    </main>


    <div id="footer" role="navigation">
      <div class="container" style="text-align: center">
        &mdash; <strong><a href="http://virtlab.unibo/it">Laboratorio Virtuale</a></strong> &mdash;<br/>
        <a href="http://www.unibo.it">Università di Bologna</a><br/>
        Per problemi di carattere tecnico contattare <%= support_mail %><br/>
        <a href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a><br/>
        <%= raw stop_impersonation_link %> <%= raw start_impersonation_link %>
      </div>
    </div>
  </body>
</html>

